*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: normal;
    font-weight: normal;
}
:root{
    --white:#fff;
    --black:#000;
    --red:#EB1811;
    --yellow:#FAE172;
    --green:#8BBC78;
    --yellowgreen:#ECEEC8;
    --darkgrey:#484848;
    --darkgreen:#447243;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Nunito";
}
h1,.title_h1{
    font-size: 66px;
    font-weight: 500;
    color: var(--darkgrey);
}
h2,.title_h2{
    font-size: 60px;
    font-weight: 600;
    color: var(--white);
}
h3,.title_h3{
    font-size: 48px;
    font-weight: 500;
    color: var(--white);
    line-height: 60px;
}
h4,.title_h4{
    font-size: 30px;
    font-weight: 300;
}
h5,.title_h5{
    font-size: 24px;
    font-weight: 700;
}
h6,.title_h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
p{
    font-size: 19px;
    font-weight: 400;
    font-family: "Nunito";
}
p,.sixteen-p{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    font-family: "Nunito";
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pad_both{
    padding: 100px 0;
}
.container{
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 50px;
}
.btn{
    padding: 15px 30px;
    background-color: var(--yellow);
    display: inline-flex;
    justify-content: flex-start;
    align-items: start;
}
.btn a{
    color: var(--red);
}
/*************Header***************/
Header{
    max-width: 1210px;
    margin: 0 auto;
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    max-width: 175px;
}
.header-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-panel ul{
    display: flex;
    gap: 40px;
    padding: 26px;
}
.nav-panel ul a:nth-child(1){
    font-weight: bold;
}
/************Hero Section****************/
.hero{
    background-image:linear-gradient(to right,var(--green),var(--yellowgreen));
    display: flex;
    align-items: center;
}
.hero-main{
    display: flex;
    justify-content: center;
    max-width: 1167px;
}
.hero-left{
    width: 40%;
    padding-top: 84px;
    animation: slide 6s ease;
}
.image{
    width: 150px;
    height: 150px;
    margin-top:32px;
    border-radius: 50%;
    position: relative;
}
div.image::after{
    content: '';
    background: url(./assets/35c2b80f431bc08c1ea461a6ffc9a2f8.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 155px;
    height: 155px;
    left: -3px;
    top: -2px;
    position: absolute;
    animation: rotation 6s linear;
}
.image img{
    position: absolute;
    z-index: 2;
}
@keyframes rotation{
    0%{
        opacity: 1;
        transform: rotate(0deg);
    }
    25%{
        opacity: 1;
        transform: rotate(25deg);
    }
    75%{
        opacity: 1;
        transform: rotate(50deg);
    }
    100%{
        opacity: 1;
        transform: rotate(75deg);
    }
}
.hero-left h3{
    margin-bottom: 21px;
}
span{
    font-size: 24px;
    font-weight: 700;
    padding-top: 9px;
    padding-bottom: 14px;
    line-height: 32px;
}
.hero-right{
    flex: 1;
    padding-top: 53px;
    padding-bottom: 64px;
    animation: slide 6s ease;
}
@keyframes slide{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/*************Hero Bottom***************/
.hero-bottom-main {
    display: flex;
    justify-content: center;
    position: relative;
}
.hero-container{
    padding: 0;
}
.hero-images{
    display: none;
    width: 100%;
    height: auto;
    max-height: 800px;
}
.hero-images img{
    object-fit: cover;

}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
    padding-top: 5%;
    position: absolute;
}
.highlight {
    background-color: var(--yellow);
    padding: 5px 20px;
    border-radius: 70px;
    color: var(--red);
    font-size: 30px;
    font-weight: 300;
    font-family: 'Nunito';
}
.slider-point{
    display: flex;
    gap: 17px;
    position: absolute;
    bottom: 20px;
}
.indicator {
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-color: var(--white);
    border-radius: 50%;
    transition: background-color 0.6s ease;
    border:1px solid var(--black);
}
/***************FoodWaste*******************/
.FoodWaste{
    background-image:linear-gradient(to right,var(--green),var(--yellowgreen));
    display: flex;
    align-items: center;
}
.FoodWaste-main{
    display: flex;
    gap: 130px;
}
.FoodWaste-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.FoodWaste-img img{
    border-radius: 40px;
}
.wht-btn{
    background-color: var(--white);
    border-radius: 40px;
}
/************************Under Services**************************/
.services-main{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
.services-content{
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.services-content h2{
    color: var(--green);
}
.services-content h5{
    color: var(--red);
    font-weight: 400;
}
.services-content p{
    font-size: 17px;
    font-weight: 400;
}
.service-card{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.card-img{
    background-color: var(--yellow);
    border-radius: 50%;
    overflow: hidden;
    width: 60%;
    aspect-ratio: 1;
}

.card p{
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}
.yellow-btn{
    background-color: var(--yellow);
    border-radius: 60px;
    align-items: center;
}
/***********************Product List**************************/
.product-list-main{
    background-image: linear-gradient(to left,var(--green),var(--yellowgreen,var(--white)));
    padding: 100px 100px 172px 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.list-content{
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.product-list-main h2{
    color: var(--green);
    font-weight: 500;
}
.subtext{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}
.subtext p{
    font-size: 23px;
    font-weight: 400;      
}
.image-container{
    position: relative;
    display: flex;
}
.image-list{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.image-box{
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 20px;
    width: 60%;
    aspect-ratio: 1;
}
.image-box img{
    padding: 9px 25px;
}
.slider-points{
    display: flex;
    gap: 17px;
    justify-content: center;
}
.dot {
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-color: var(--white);
    border-radius: 50%;
    transition: background-color 0.6s ease;
    border:1px solid var(--black);
}
.active{
    background-color: var(--yellow);
}
/************************Process*******************************/
.process{
    display: flex;
    align-items: center;
    padding: 114px 0;
}
.process-title{
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.process-title h2{    
    color: var(--green);
    text-align: left;
}
.process-chart{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 30px;
    padding-top: 84px;
    padding-bottom: 80px;
}
.serial-num{
    background-color: var(--yellow);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--red);
    text-align: center;
    font-size: 40px;
    padding: 5px;
    font-weight: 200;
}
.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
div.step:not(:last-child)::after{
    content: '';
    position: absolute;
    background: url(./assets/arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 175px;
    height: 150px;
    top: -30px;
    left: 125px;
}
.step-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.step-img{
    border: 1px solid var(--green);
    border-radius: 50%;
    padding: 15px;
    width: 60%;
    aspect-ratio: 1;
}
.step-context{
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.step-context h5{
    color: var(--green);
}
.step-context p{
    font-size: 14px;
    font-weight: 400;
}
.step:nth-child(1) .step-details .step-img{
    border: 1px solid var(--green);
    border-radius: 50%;
    padding: 15px;
    background:url(./assets/cross.png);
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
}
.step:nth-child(1) .step-details .step-img img{
    z-index: -1;
    position: relative;
}
.yellow2-btn{
    background-color: var(--yellow);
    padding: 10px 30px;
    border-radius: 60px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.yellow2-btn a{
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}
/***********************Hygenic********************************/
.hygenic{
    background-image: linear-gradient(to right,var(--green),var(--yellowgreen));
}
.hygenic-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hygenic-image{
    padding-top: 24px;
    padding-bottom: 31px;
    animation: slide 6s ease;
}
.hygenic-image.is-inview{
    animation: slide 6s ease;
}  
.hygenic-main h5{
    color: var(--red);
}
/********************Testimonal********************************/
.testimonals-main{
    display: flex;
    gap: 230px;     
}
.quotes{
    padding-top: 200px;
    font-size: 27px;
    letter-spacing: 15px;
}
.testimonies{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.testimonies h2{
    color: var(--green);
}
.feedbacks{
    display: flex;
    gap: 15px;
}
.feedback-card{
    padding: 17px;
    border: 1px solid var(--green);
}
.feedback-card p{
    padding: 0 15px;
}
.card-top{
    position: relative;
}
.upper-quote{
    font-size: 24px;
}
.lower-quote{
    font-size: 24px;
    text-align: right;
}
.card-btm{
    border-top: 1px solid var(--green);
}
.card-btm-content{
    display: flex;
    gap: 30px;
    padding: 10px 31px;
    justify-content: center;
    align-items: center;
}
.author-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.author-name h6{
    color: var(--red);
}
.author-name p{
    padding: 0;
}
.author-img{
    flex: 1;
}
/********************Footer**********************************/
footer{
    background-image: linear-gradient(to right,var(--white),var(--yellowgreen),var(--green));
    overflow: hidden;
}
div.footer-main::after{
    content: '';
    background: url(./assets/footer-image.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 685px;
    height: 607px;
    top: -310px;
    right: -220px;
    animation: slide 6s ease;
    transform: rotate(22deg);
} 
.footer-main{
    display: flex;
    flex-direction: column;
    gap: 90px;
    position: relative;
    overflow-x: clip;
}
.footer-top{
    width: 45%;
}
.footer-bottom{
    display: flex;
    gap: 350px;
}
.contact{
    display: flex;
    gap: 21px;
    width: 60%;
}
.links{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-links a{
    display: flex;
    align-items: center;
    column-gap: 21px;
    padding: 8px 0;
    color: var(--darkgreen);
}
.contact-links a img{
    width: 5%;
}
.contact-links h4{
    color: var(--darkgrey);
}
.quick-links{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
}
.quick-links h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--darkgrey);
}
.quick-links ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 21px;
    row-gap: 7px;
}
.quick-links ul li{
    list-style: none;
    font-family: 'Nunito';
    font-size: 17px;
    font-weight: 400;
    color: var(--darkgreen);
}
.parter-logo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
}
.parter-logo img{
    flex: 1;
}
/***********************terms**************************/
.terms{
    background-color: var(--black);
}
.terms-main{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.terms-main P{
    color: var(--white);
    align-content: center;
}
.terms-main p:nth-child(2){
    background-color: rgba(225,225,225,0.14);
    border-radius: 40px;
    padding: 4px 10px;
}

/*********************Responsive********************************/
@media screen and (max-width:1024px){
    .container{
        width: 100%;

    }
    .image{
        width: 90px;
        margin-top: 0;
    }
    div.image::after{
        width: 100px;
        top: 25px;
        left: -5px;
    }
    h2,.title_h2{
        font-size: 50px;
    }
    
    .FoodWaste-main{
        gap: 30px;
    }
    .service-card{
        gap: 10px;
    }
    .product-list-main{
        padding: 100px;
    }
    .card-btm-content{
        padding: 10px 20px;
    }
    .yellow-btn{
        padding: 10px 20px;
    }
    div.step:not(:last-child)::after{
        top: -28px;
        left: 135px;
    }
    .footer-top{
        width: 35%;
    }
    .footer-bottom{
        gap: 150px;
    }
    .contact-links a img{
        width: 7%;
    }
    .parter-logo{
        gap: 20px;
    }
    a{
        font-size: 16px;
    }
    div.footer-main::after{
        width: 585px;
        height: 507px;
        transform: rotate(12deg);
    }   
}
@media screen and (max-width:900px){
    .container{
        width:100%;
    }
    h3,.title_h3{
        font-size: 35px;
    }
    .hero-left{
        width: 50%;
    }
    h2,.title_h2{
        font-size: 30px;
    }
    .highlight{
        font-size: 18px;
    }
    .indicator{
        height: 18px;
        width: 18px;
    }
    .product-list-main{
        padding: 50px;
    }
    .footer-bottom{
        gap: 100px;
    }
}
@media screen and (max-width:768px){
    .nav-panel ul{
        gap: 20px;
    }
    .hero-main{
        justify-content: space-between;
    }
    .hero-left{
        width: 100%;
        padding-top: 50px;
    }
    .hero-left h3{
        margin-bottom: 0;
    }
    .hero-right{
        display: none;
    }
    .image{
        width: 115px;
    }
    div.image::after{
        width: 120px;
        height: 120px;
        left: -3px;
        top: 15px;
    }
    .FoodWaste-main{
        gap: 10px;
    }
    .left-content{
        gap: 10px;
    }
    .btn{
        padding: 10px 20px;
    }
    .product-list-main{
        padding: 50px;
    }
    h5,.title_h5{
        font-size: 20px;
    }
    .service-card,.process-chart{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    /*.card-btm-content{
        padding: 10px 15px;
    }
    h6,.title_h6{
        font-size: 17px;
    }
    .author-name p{
        font-size: 13px;
    }
    .author-img{
        display: none;
    }*/
    div.step:not(:last-child)::after{
        display: none;
    }
    .feedbacks{
        display: grid;
    }
    .author-name{
        width: 20%;
    }
    .author-img{
        flex: none;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 100px;
    }
    .parter-logo{
        flex-direction: row;
    }
    div.footer-main::after{
        width: 485px;
        height: 407px;
        transform: rotate(20deg);
        top: -265px;
    }
}
@media screen and (max-width:600px){
    h2,.title_h2{
        font-size: 25px;
    }
    .highlight{
        font-size: 16px;
    }
    .indicator{
        height: 14px;
        width: 14px;
    }
    .FoodWaste-img img{
        display: none;
    }
    h5,.title_h5{
        font-size: 18px;
    }
    .services-content p{
        font-size: 16px;
    }
    .list-content{
        gap: 20px;
    }
    .subtext{
        gap: 20px;
    }
    .subtext p{
        font-size: 18px;
    }
    .image-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .dot{
        height: 14px;
        width: 14px;
    }
    .contact-info{
        gap: 20px;
    }
    .quick-links ul{
        column-gap: 18px;
    }
    .quick-links ul li{
        font-size: 15px;
    }
    a{
        font-size: 14px;
    }
    .parter-logo{
        display: none;
    }
}